@media screen and (max-width: 600px) {
    .display-4{
        font-size: x-large;
    }
    .display-3{
        font-size: xx-large;
    }
    .h2{
        font-size: larger;
    }
    .h3{
        font-size: large;
    }
    #bgvid{
        display: none !important;
    }
    #size-map{
        width: 300px !important;
        height: 250px !important;
    }
}